.base-image {
  height: 100vh; /* Set image height to 100vh (viewport height) */
  position: relative; /* Allows positioning elements on top of the image */
}

.base-image img {
  width: 100%; /* Make image fill container width */
  object-fit: cover; /* Ensure image covers entire area */
  height: 90%;
}

.base-text {
  position: absolute; /* Position elements on top of the image */
  bottom: 100px; /* Set distance from bottom */
  left: 50%; /* Center elements horizontally */
  transform: translateX(-50%); /* Offset elements for centering */
  text-align: center; /* Center text content */
  color: white; /* Set text color for visibility on image */
}

.pill_color {
  color: white;
  background: #7749f8;
}
